{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!-- <link href="css/style.css" rel="stylesheet" /> -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>

  <body>
    {{ template "form" . }}
    <hr />
    {{ template "display" . }}
  </body>
</html>
{{ end }} {{ block "form" . }}
<form hx-target="body" hx-post="/contacts">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Name" />

  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email" />
  <button type="submit">Create contact</button>
</form>
{{ end }} {{ block "display" . }}
<div style="display: flex; flex-direction: column">
  {{ range .Contacts }}
  <div>
    Name: <span>{{ .Name }}</span>

    Email: <span>{{ .Email }}</span>
  </div>
  {{ end }}
</div>
{{ end }}
